@model IEnumerable<TheCodingClub2.User>

@{
    ViewData["Title"] = "Index";
    Layout = "_FormLayout";
}
<div class="col-md-4 container background text-center">
<h1>Users</h1>
</div>

<div class=" container background">
<p>
    <a asp-action="Create">Create User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
               Last Name
            </th>
            <th>
               User Name
            </th>
            <th>
               Password
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.passWord)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
